@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>360º Web App</h1>
    <p class="lead">Section to add 360º Images</p>

    <div >
        <p class="lead">Lake is on sale, cheap!!!</p>
        <iframe height="300px" width="80%" allowfullscreen="true" src=" https://momento360.com/e/u/a9b53aa8f8b0403ba7a4e18243aabc66"></iframe>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Properties List</h2>
        <p>
            Keep waiting...
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Agent Space</h2>
        <p>Actualy there isn't any space yet!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact us</h2>
        <p>Don't contact us yet</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>